{{#section 'js'}}
  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initGoogleMaps();
    });
  </script>
{{/section}}

<div id="map"></div>